<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>883497519155-0oucs8caiakbns52j5und659stb5c5jc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883497519155-0oucs8caiakbns52j5und659stb5c5jc</string>
	<key>API_KEY</key>
	<string>AIzaSyDV5y4_rgNmv0EI1U0B86AdWrGoxnfeI9U</string>
	<key>GCM_SENDER_ID</key>
	<string>883497519155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.golocker.cus.dev</string>
	<key>PROJECT_ID</key>
	<string>golocker-e5fba</string>
	<key>STORAGE_BUCKET</key>
	<string>golocker-e5fba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883497519155:ios:22728e41003ce36e</string>
	<key>DATABASE_URL</key>
	<string>https://golocker-e5fba.firebaseio.com</string>
</dict>
</plist>